<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wizards of the Hills</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
    <link href="stylesheets/index.css" rel="stylesheet">
</head>

<body>
    <%- include('header.ejs') %>
        <div class="container">
            <div class="big-spacer"></div>
            <h2>About Wizards of the Hills</h2>
            <div class="divider"></div>
            <p style="font-size:20px; line-height: 200%;">
                Welcome to Wizards of the Hills<br>We are a sanctuary crafted by devoted developers who share a fervent
                love
                for
                tabletop role-playing games and a boundless zeal for weaving new narratives. We are a troupe of
                storytellers, technophiles, and dream-weavers united by the call of adventure and the roll of the
                dice.<br>

                Our journey began not with a bang, but with a whisper in the dark recesses of a forgotten dungeon. It
                was there, amid the clatter of dice and the rustle of character sheets, that we envisioned a realm where
                players and creators converge in celebration of imagination and creativity.<br>

                Wizards of the Hills is more than just a marketplace; it is a portal to worlds unexplored and tales
                untold. It is a place where the heartbeat of role-playing comes alive, pulsating with the support and
                appreciation for those who craft the stories we adore. Here, every purchase is an act of support for
                your favorite creators, empowering them to continue their craft and enabling you to become a part of the
                legacy that is tabletop gaming.<br>

                Join us at the table, where camaraderie meets creation, and where every player has the chance to support
                and directly contribute to the grand tapestry of storytelling that binds us all. Whether you're here to
                explore new expansions or to share your own creations, you are the magic that keeps our collective quest
                going.<br>

                Thank you for being a part of our story. Now, let’s set forth and create new legends together!

            </p>

        </div>



        <%- include('footer.ejs') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
</body>

</html>