<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wizards of the Hills</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
    <link href="stylesheets/index.css" rel="stylesheet">
</head>

<body>
    <%- include('header.ejs') %>
        <div class="container">
            <div class="big-spacer"></div>
            <h2>Questions, Comments, Concerns?</h2>
            <div class="divider"></div>
            <ul style="font-size:20px; line-height: 200%;">
                <li>Customer Support Email: <a href="mailto:WizardsOfTheHills@gmail.com">WizardsOfTheHills@gmail.com</a>
                </li>
                <li>Customer Support Line: (555)-555-5555</li>
                <li>Are you interested in being sponosored by Wizards of the Hills? Contact our sponsor team: <a
                        href="mailto:WizardsOfTheHillsSponsors@gmail.com">WizardsOfTheHillsSponsors@gmail.com</a></li>
                <li>Is your intellectual property listed on this website without your consent? Contact our legal
                    team: <a href="mailto:WizardsOfTheHillsLawyers@gmail.com">WizardsOfTheHillsLawyers@gmail.com</a>
                </li>
                <li>Having trouble removing or adding an item? Contact our dev team: <a
                        href="mailto:WizardsOfTheHillsDevs@gmail.com">WizardsOfTheHillsDevs@gmail.com</a></li>
                <li>Having trouble editing an item? Contact our dev team: <a
                        href="mailto:WizardsOfTheHillsDevs@gmail.com">WizardsOfTheHillsDevs@gmail.com</a></li>
                <li>Have you noticed innapropriate listings or behavior from a user? Contact an admin: <a
                        href="mailto:WizardsOfTheHillsAdmins@gmail.com">WizardsOfTheHillsAdmins@gmail.com</a></li>
            </ul>
            <div class="big-spacer"></div>
            <div class="big-spacer"></div>
            <div class="big-spacer"></div>
        </div>



        <%- include('footer.ejs') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
</body>

</html>