<% if (locals.msg) {%>

<% if (msg === "success") { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Course <%=courseid%></strong> added Succesfully.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } else if (msg === "successdel") { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Course <%=courseid%></strong> deleted Succesfully.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } else { %>

  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Course <%=courseid%></strong> can not be added/deleted/found due to the errors below.
    <p class="mb-0"><%=msg%></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <% }%>
  <% }%>