<link rel="stylesheet" href="/css/bootstrap.min.css" />

<link href="/stylesheets/index.css" rel="stylesheet">
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-links-container">
      <div class="footer-column">
        <p class="footer-brand"></p>
      </div>
      <div class="footer-column">
        <!-- First column of links -->
        <h3>Donate</h3>
        <a href="/index.ejs">Patreon</a>
        <a href="/index.ejs">Ko-fi</a>
        <a href="/index.ejs">Paypal</a>
      </div>
      <div class="footer-column">
        <!-- Second column of links -->
        <h3>Contact us</h3>
        <a href="/index.ejs">Email</a>
      </div>
      <div class="footer-column">
        <!-- Third column of links -->
        <h3>Information</h3>
        <a href="/index.ejs">About us</a>
        <a href="/index.ejs">Privacy policy</a>
        <a href="/index.ejs">Newsletter</a>
      </div>
    </div>
</footer>


  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>