<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

<link href="/stylesheets/index.css" rel="stylesheet">
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-links-container">
      <div class="footer-column">
        <p class="footer-brand"></p>
      </div>
      <div class="footer-column">
        <!-- First column of links -->
        <h3>Donate</h3>
        <a href="/index.ejs">Patreon</a>
        <a href="/index.ejs">Ko-fi</a>
        <a href="/index.ejs">Paypal</a>
      </div>
      <div class="footer-column">
        <!-- Second column of links -->
        <h3>Contact us</h3>
        <a href="/index.ejs">Email</a>
      </div>
      <div class="footer-column">
        <!-- Third column of links -->
        <h3>Information</h3>
        <a href="/index.ejs">About us</a>
        <a href="/index.ejs">Privacy policy</a>
        <a href="/index.ejs">Newsletter</a>
      </div>
    </div>
</footer>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
