<link rel="stylesheet" href="/css/bootstrap.min.css" />

<link href="/stylesheets/index.css" rel="stylesheet">
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-links-container">
      <div class="footer-column">
        <p class="footer-brand"></p>
      </div>
      <div class="footer-column">
        <!-- First column of links -->
        <h3>Donate</h3>
        <a href="https://www.patreon.com/">Patreon</a>
        <a href="https://ko-fi.com/">Ko-fi</a>
        <a href="https://www.paypal.com/">Paypal</a>
      </div>
      <div class="footer-column">
        <!-- Second column of links -->
        <h3>Contact us</h3>
        <a href="mailto:WizardsOfTheHills@gmail.com">Email</a>
      </div>
      <div class="footer-column">
        <!-- Third column of links -->
        <h3>Information</h3>
        <a href="/aboutUs">About us</a>
        <a href="/privacyPolicy">Privacy policy</a>
        <a href="/newsletter">Newsletter</a>
      </div>
    </div>
</footer>


<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>