<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wizards of the Hills</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
    <link href="stylesheets/index.css" rel="stylesheet">
</head>

<body>
    <%- include('header.ejs') %>
        <div class="container">
            <div class="big-spacer"></div>
            <h2>WOTH Newsletter</h2>
            <div class="divider"></div>
            <h3 style="text-align: center;">Wizards of the Hills Weekly Scroll (4/21):<br>Site Updates & Enchanting New
                Arrivals
            </h3>

            <p style="font-size:17px;">Salutations, valiant adventurers and masterful creators!<br>

                As we traverse the ever-evolving landscape of Wizards of the Hills, we find ourselves amidst another
                week of progress and innovation. With our shared quest for adventure and storytelling, it is our
                pleasure to unfurl the latest happenings in our realm.<br></p>

            <h2 style="font-size: 17px; text-align: left;">Sanctuary Enhancements:</h2>

            <p style="font-size:17px;">Our diligent team of wizard-developers has been channeling their arcane prowess
                to reinforce the
                battlements and polish the spires. We've conjured up some performance enhancements and banished pesky
                bugs to the Nether Realms. These updates are designed to make your journey through our site as smooth as
                the finest elven silk. Expect swifter load times, enhanced security enchantments, and a more intuitive
                navigation spellwork, ensuring you spend less time in the arcane libraries and more time gallivanting in
                the questing fields.<br></p>

            <h2 style="font-size: 17px; text-align: left;">This Week's Trove of Tales:</h2>

            <p style="font-size:17px;">Every week brings new wonders, and this week is no exception. Discover "The
                Echoing Crypts of Skarvald,"
                an adventure module that will challenge even the bravest of hearts. Delve into "Mystic's Menagerie," a
                compendium of curious creatures waiting to be summoned to your side. And for those who dare to don the
                mantle of magic, "Arcanist's Array" offers new spells that will dazzle friends and foes alike.<br></p>

            <h2 style="font-size: 17px; text-align: left;">Direct Support for Spellbinders:</h2>

            <p style="font-size:17px;">Remember, every treasure procured from our vaults goes towards supporting the
                visionary creators who
                share their work with us. This direct line of support empowers them to conjure even more fantastic
                experiences for our collective enjoyment.<br></p>

            <h2 style="font-size: 17px; text-align: left;">Your Chronicles Await:</h2>

            <p style="font-size:17px;">Do you have an epic to share or an artifact to unveil? Our scrolls are always
                open for submissions.
                Embolden your fellow adventurers by showcasing your creations. Each contribution weaves into the grand
                tapestry of our shared mythology.<br></p>

            <h2 style="font-size: 17px; text-align: left;">A Parchment of Gratitude:</h2>

            <p style="font-size:17px;">Your continued support is the cornerstone of our citadel. As we look to the
                horizon, ready to tackle
                whatever challenges and triumphs it may hold, we extend our deepest thanks. Together, we are not just
                building a marketplace; we are forging a community bound by a love for the adventures that tabletop
                gaming brings.<br>

                Until next week, may your dice roll true and your imaginations soar ever higher!<br>

                Fare thee well,<br>
                The Wizards of the Hills Team<br></p>
            <div class="divider"></div>

        </div>



        <%- include('footer.ejs') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
</body>

</html>