<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wizards of the Hills</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
    <link href="stylesheets/index.css" rel="stylesheet">
</head>

<body>
    <%- include('header.ejs') %>
        <div class="container">
            <div class="big-spacer"></div>
            <h2>Privacy Policy</h2>
            <p style="font-size:20px; line-height: 200%; text-align: center;">Privacy Policy for Wizards of the Hills

                At Wizards of the Hills, one of our main priorities is the privacy
                of our visitors. <br>This Privacy Policy document contains types of information that is collected and
                recorded by Wizards of the Hills and how we use it.<br>

                If you have additional questions or require more information about our Privacy Policy, do not hesitate
                to contact us through email at WizardsOfTheHillsLegal@gmail.com.<br>

                General Data Protection Regulation (GDPR)<br>
                We are a Data Controller of your information.<br>

                Wizards of the Hills legal basis for collecting and using the personal information described in this
                Privacy Policy depends on the Personal Information we collect and the specific context in which we
                collect the information:<br>

                Wizards of the Hills needs to perform a contract with you<br>
                You have given Wizards of the Hills permission to do so<br>
                Processing your personal information is in Wizards of the Hills legitimate interests<br>
                Wizards of the Hills needs to comply with the law<br>
                Wizards of the Hills will retain your personal information only for as long as is necessary for the
                purposes set out in this Privacy Policy. We will retain and use your information to the extent necessary
                to comply with our legal obligations, resolve disputes, and enforce our policies.</p>
        </div>

        <%- include('footer.ejs') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
</body>

</html>