@import url(/index.css);

/*category pages*/
.browse-container {
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.browse-item {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    color: black;
}

#items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.item img {
    width: 100%;
    height: auto;
}