<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Author Page</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link href="userPages.css" rel="stylesheet">

</head>

<body>
  <%- include('views/pages/header.ejs') %>

  <div class="container">

    <!-- Header -->
    <div class="nav-spacer"></div>

    <!-- Support the author-->
    <section class="author-support-section">
      <div class="container">
        <h2 class="text-center" style="color: rgb(0, 0, 0);">Support the Author</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="support-item">
              <h3>Patreon</h3>
              <p>Support the author on Patreon for exclusive rewards and updates.</p>
              <a href="#" class="btn btn-primary">Support on Patreon</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="support-item">
              <h3>PayPal</h3>
              <p>Make a one-time donation to the author through PayPal.</p>
              <a href="#" class="btn btn-primary">Donate via PayPal</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="support-item">
              <h3>Discord</h3>
              <p>Join the author's Discord server to chat with fellow players.</p>
              <a href="#" class="btn btn-primary">Join Discord</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="support-spacer"></div>
    <div class="divider"></div>
    <div class="support-spacer"></div>

    <h3> About the Author</h3>
    <div class="about-the-author">
      <p>Thank you for visiting my content creator page! I extend my heartfelt gratitude to each and
        every one of you for your support, enthusiasm, and dedication to exploring the realms I've crafted. Your passion
        for
        the game and your adventurous spirit inspire me to continue creating immersive content that sparks joy and
        excitement
        in your campaigns. From the depths of my imaginations to the heart of your adventures, I are honored to
        accompany
        you on your journey through the worlds of fantasy and magic. Happy adventuring, and may your dice always roll in
        your
        favor! Please follow me on Twitter and join my Discord for updates about new content!</p>
      <img class src="/images/author-img.JPG" style="max-width: 300px; align-items: right; margin-top:-60px;">

    </div>


    <div class="support-spacer"></div>
    <div class="divider"></div>
    <div class="support-spacer"></div>

    <h2>Created Works</h2>

    <!-- Content Section -->

    <section class="content-section">
      <div class="row content-viewer">
        <div class="col-sm-3">
          <a href="/pages/itemPages/owlfolkExpansion.ejs" class="thumbnail-link">
            <div class="thumbnail">
              <img src="/images/owl.jpg" alt="The Owlfolk Expansion">
              <div class="caption">
                <h3>The Owlfolk Expansion</h3>
                <p>$9.99</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/pages/itemPages/companionAnimalsExpanded.ejs" class="thumbnail-link">
            <div class="thumbnail">
              <img src="/images/rat.jpg" alt="Companion Animals Expanded (5e)">
              <div class="caption">
                <h3>Companion Animals Expanded (5e)</h3>
                <p>FREE</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/pages/itemPages/nextLevelSpellbook.ejs" class="thumbnail-link">
            <div class="thumbnail">
              <img src="/images/wizard.jpeg" alt="Next Level Spellbooks">
              <div class="caption">
                <h3>Next Level Spellbooks</h3>
                <p>$12.49</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/pages/itemPages/escapeFromEthmoria.ejs" class="thumbnail-link">
            <div class="thumbnail">
              <img src="/images/spooky.jpg" alt="Escape from Ethmoria">
              <div class="caption">
                <h3>Escape from Ethmoria (Adventure) </h3>
                <p>$22.39</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section class="content-section">
      <div class="row content-viewer">
        <div class="col-sm-3">
          <a href="/pages/itemPages/nextLevelSpellbook.ejs" class="thumbnail-link">
            <div class="thumbnail">
              <img src="/images/book7.jpg" alt="LOTR Tabletop Rule Book v1.0">
              <div class="caption">
                <h3>LOTR Tabletop Rule Book v1.0</h3>
                <p>$10.29</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/pages/itemPages/nextLevelSpellbook.ejs" class="thumbnail-link">
            <div class="thumbnail">
              <img src="/images/book9.jpg" alt="MAGIC UNCHAINED">
              <div class="caption">
                <h3>MAGIC UNCHAINED</h3>
                <p>$69.99</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/pages/itemPages/nextLevelSpellbook.ejs" class="thumbnail-link">
            <div class="thumbnail">
              <img src="/images/book4.jpg" alt="Alignment Remastered">
              <div class="caption">
                <h3>Alignment Remastered</h3>
                <p>$7.99</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="/pages/itemPages/nextLevelSpellbook.ejs" class="thumbnail-link">
            <div class="thumbnail">
              <img src="/images/book5.jpg" alt="Spirit World Revisted">
              <div class="caption">
                <h3>Spirit World Revisted</h3>
                <p>$6.66</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

  </div>


  <div class="nav-spacer"></div>
  <%- include('views/pages/footer.ejs') %>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>