<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="signIn" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Sign-up Page</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link href="userPages.css" rel="stylesheet">
  <script src="userPages.js"></script>

</head>

<body>
  <%- include('views/pages/header.ejs') %>

  
  <div class="nav-spacer"></div>
  <div class="big-spacer"></div>

  <div class="container">

      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-6">
              <div class="singIn-form-container" id="signin">
                  <h2>Sign Up</h2>
                  <div class="divider"></div>
                  <div class="tiny-spacer"></div>
                  <div class="tiny-spacer"></div>
                  <div class="tiny-spacer"></div>
                  <form action="#" method="post">
                      <label for="username">Username</label>
                      <div class="input-wrapper">
                          <div class="singIn-form-group">
                              <input type="username" class="singIn-form-control" id="username" name="username"
                                  required>
                          </div>
                      </div>
                      <label for="email">Email address</label>
                      <div class="input-wrapper">
                          <div class="singIn-form-group">
                              <input type="email" class="singIn-form-control" id="email" name="email" required>
                          </div>
                      </div>
                      <label for="password">Password</label>
                      <div class="input-wrapper">
                          <div class="singIn-form-group">
                              <input type="password" class="singIn-form-control" id="password" name="password"
                                  required>
                          </div>
                      </div>
                      <button type="submit" class="btn btn-primary">Sign Up</button>
                  </form>
                  <hr>
                  <p>Already have an account? <a href="/pages/userPage/signIn.ejs" id="signup-link">Sign In</a></p>
              </div>
          </div>
      </div>
      <div class="big-spacer"></div>
      <div class="big-spacer"></div>
  </div>


  <div class="nav-spacer"></div>
  <%- include('views/pages/footer.ejs') %>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>