<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Author Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link href="../../stylesheets/itemPages.css" rel="stylesheet">

</head>

<body>

    <%- include('../../header.ejs') %>

        <main>
            <div class="big-spacer"></div>
            <div class="item-container">
                <div class="item-details">
                    <h2>Companion Animals Expanded (5e)</h2>
                    <div class="divider"></div>
                    <div class="item-page-container">
                        <img class="item-hero-image" src="/images/rat.jpg" alt="rat.jpg">
                        <div class="item-page-description">
                            <p>Embark on a thrilling journey through uncharted realms with our groundbreaking Dungeons &
                                Dragons
                                5th Edition expansion: "Companion Animals Expanded". Delve into the depths of mystique
                                as you
                                encounter an eclectic array of unique and peculiar companion animals, each brimming with
                                newfound actions and abilities to enrich your gameplay experience. Our expansion boasts
                                meticulously crafted content, honed through rigorous playtesting, ensuring seamless
                                integration
                                into your adventures. From the enigmatic Shadow Wisp to the majestic Stormcaller
                                Gryphon,
                                discover companions that defy convention and breathe new life into your campaigns.
                                Unleash the
                                power of the arcane, forge unbreakable bonds, and chart your destiny.</p>
                            <p>FREE</p>
                            <p>Created by: <a href="/pages/userPage/authorPage">Ms Flecha</a></p>
                            <button>Add to Cart</button>
                            <!--<button>Add to Wishlist</button>-->
                        </div>
                        <%- include('../../exploreCarousel.ejs') %>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../../footer.ejs') %>


            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
            <script src="/js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>