<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Author Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link href="../../stylesheets/itemPages.css" rel="stylesheet">


</head>

<body>

    <%- include('../../header.ejs') %>

        <main>
            <div class="big-spacer"></div>
            <div class="item-container">
                <div class="item-details">
                    <h2>Escape from Ethmoria</h2>
                    <div class="divider"></div>
                    <div class="item-page-container">
                        <img class="item-hero-image" src="/images/spooky.jpg" alt="spooky.jpg">
                        <div class="item-page-description">
                            <p>
                                Embark on a harrowing odyssey through the desolate lands of Ethmoria in "Escape from
                                Ethmoria", a bone-chilling
                                roleplaying game adventure that delves into the eerie aftermath of a fallen kingdom.
                                Once ruled by a malevolent
                                Lich Queen whose dark reign spanned centuries, Ethmoria now lies shattered and forsaken,
                                haunted by the echoes
                                of its sinister past. As brave adventurers, you must navigate treacherous landscapes and
                                unravel the mysteries
                                shrouding this forsaken realm, confronting vengeful spirits, eldritch horrors, and the
                                lingering specter of the
                                Lich Queen herself. Prepare to test the limits of courage and resilience as you chart a
                                perilous course towards
                                redemption or damnation in the haunted ruins of Ethmoria.</p>
                            <p>$22.39</p>
                            <p>Created by: <a href="/pages/userPage/authorPage">Ms Flecha</a></p>
                            <button>Add to Cart</button>
                            <!--<button>Add to Wishlist</button>-->
                        </div>
                    </div>
                    <%- include('../../exploreCarousel.ejs') %>
                </div>
            </div>
        </main>
        <%- include('../../footer.ejs') %>


            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
            <script src="/js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>