<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Author Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link href="../../stylesheets/itemPages.css" rel="stylesheet">


</head>

<body>

    <%- include('../../header.ejs') %>

        <main>
            <div class="big-spacer"></div>
            <div class="item-container">
                <div class="item-details">
                    <h2>Next Level Spellbook</h2>
                    <div class="divider"></div>
                    <div class="item-page-container">
                        <img class="item-hero-image" src="/images/wizard.jpeg" alt="wizard.jpg">
                        <div class="item-page-description">
                            <p>Embark on a spellbinding journey to elevate your tabletop adventures with "Next Level
                                Spellbook",
                                the ultimate expansion for seasoned spellcasters and aspiring wizards alike. Unleash the
                                arcane
                                forces with hundreds of meticulously crafted spells, each designed to ignite new
                                dimensions of
                                creativity and excitement in your gameplay. From dazzling incantations that bend reality
                                to
                                whimsical charms that weave tales of wonder, "Next Level Spellbook" offers a treasure
                                trove of
                                magical possibilities. Explore diverse schools of magic, experiment with potent
                                enchantments,
                                and carve your path to mastery in the realms of fantasy. Elevate your spellcasting
                                prowess to
                                unprecedented heights and unlock boundless realms of imagination with "Next Level
                                Spellbook"
                                where every incantation opens the door to endless adventures.</p>
                            <p>$12.49</p>
                            <p>Created by: <a href="/pages/userPage/authorPage">Ms Flecha</a></p>
                            <button>Add to Cart</button>
                            <!--<button>Add to Wishlist</button>-->
                        </div>
                    </div>
                    <%- include('../../exploreCarousel.ejs') %>
                </div>
            </div>
        </main>
        <%- include('../../footer.ejs') %>


            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
            <script src="/js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>