<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Author Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link href="../../stylesheets/itemPages.css" rel="stylesheet">


</head>

<body>

    <%- include('../../header.ejs') %>

        <main>
            <div class="big-spacer"></div>
            <div class="item-container">
                <div class="item-details">
                    <h2>The Owlfolk Expansion: Wings of Winter</h2>
                    <div class="divider"></div>
                    <div class="item-page-container">
                        <img class="item-hero-image" src="/public/images/owl.jpg" alt="owl.jpg">
                        <div class="item-page-description">
                            <p>
                                Dive into the frost-kissed realms of the Owlfolk with our captivating tabletop
                                roleplaying game expansion:
                                "Wings of Winter". Venture into the heart of icy landscapes and uncover the enigmatic
                                culture of these
                                mystical avian beings. With "Wings of Winter", players can immerse themselves in the
                                rich lore and
                                traditions of the Owlfolk, unleashing new depths of roleplaying potential. Explore
                                exclusive backgrounds,
                                delve into unique race features, and harness a suite of spells crafted specifically for
                                Owlfolk characters.
                                Prepare to soar to new heights of adventure as you embrace the chilling winds of destiny
                                with "Wings of
                                Winter" - where magic and mystery intertwine amidst the snow-laden peaks.</p>
                            <p>$9.99</p>
                            <p>Created by: <a href="/pages/userPage/authorPage">Ms Flecha</a></p>
                            <button>Add to Cart</button>
                            <!--<button>Add to Wishlist</button>-->
                        </div>
                    </div>
                    <%- include('../../exploreCarousel.ejs') %>
                </div>
            </div>
        </main>
        <%- include('../../footer.ejs') %>


            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
            <script src="/js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>